<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @studio.name %>
</p>

<p>
  <b>Address:</b>
  <%= @studio.address %>
  <br/>
  <%= @studio.address2 %>
</p>

<p>
  <b>City:</b>
  <%= studio_city_state_postal(@studio)  %>
</p>

<p>
  <b>Phone:</b>
  <%= @studio.phone %>
</p>

<p>
  <b>Phone:</b>
  <%= @studio.fax %>
</p>

 render :template => "styles/show", :locals => { :style => @studio.styles.first } 

<%= link_to 'Edit', edit_studio_path(@studio) %> |
<%= link_to 'Back', studios_path %>
