<!DOCTYPE html>
<html>
<head>
  <title><%= full_title("") %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<hr size="1">
<%= link_to "Home Page", "/" %>
</body>
</html>
